*~
/backup/*
/dot.log

# Fcitx
link/config/fcitx/profile*
link/config/fcitx/cached_layout

link/config/fcitx/clipboard/
link/config/fcitx/log/
link/config/fcitx/data/
link/config/fcitx/dbus/

link/config/fcitx/conf/fcitx-autoeng.config
link/config/fcitx/conf/fcitx-chttrans.config
link/config/fcitx/conf/fcitx-classic-ui.config
link/config/fcitx/conf/fcitx-imselector.config
link/config/fcitx/conf/fcitx-keyboard.config
link/config/fcitx/conf/fcitx-notify.config
link/config/fcitx/conf/fcitx-pinyin-enhance.config
link/config/fcitx/conf/fcitx-spell.config
link/config/fcitx/conf/fcitx-unicode.config
link/config/fcitx/conf/fcitx-xim.config
link/config/fcitx/conf/fcitx-xkb.config


# XFCE4
link/config/xfce4/help.rc
link/config/xfce4/helpers.rc

link/config/xfce4/appfinder/
link/config/xfce4/desktop/
link/config/xfce4/panel/

link/config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-editor.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-manager.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
link/config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml

# Thunar
link/config/Thunar/renamerrc
link/config/Thunar/accels.scm

# leiningen
link/home/.lein/self-installs/
link/home/.lein/repl-history

# LOCAL_SHARE
link/local_share/applications/mimeinfo.cache
link/local_share/applications/userapp-*.desktop
link/local_share/applications/wine/
link/local_share/applications/wine-*.desktop
