[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs Daemon
Icon=emacs
Exec=systemctl --user restart emacs
NoDisplay=false
Categories=Development;TextEditor;
StartupNotify=false
Terminal=false
Comment=
Path=
